@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Robbie's Universal Rentals!</h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rent A Vehicle</h2>
        <p>
            Rent a vehicle to a customer.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Rent &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vehicle Return</h2>
        <p>Record customer vehicle returns.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Return &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vehicle Maintenance and Transfer</h2>
        <p>Schedule vehicle maintenance and transfers to/from other Robbie's locations.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Maintenance &raquo;</a></p>
    </div>
</div>

<div id="divRent">
    <div>
        <div class="col-md-6"><select id="ddlVehicleType"></select></div>
        <div class="col-md-6"><select id="ddlVehicleMake"></select></div>
        <div class="col-md-6"><select id="ddlVehicleModel"></select></div>
    </div>
    <div>

    </div>
</div>

<div id="divReturn">

</div>

<div id="divMaintenance">

</div>